In [1]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
for i in numbers:
    print(i)

1
2
3
4
5

In [3]:
for i in numbers:
    print(i*i)

1
4
9
16
25

In [4]:
numbers = range(1,6)
type(numbers)

range

In [5]:
for i in numbers:
    print(i)

1
2
3
4
5

In [6]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [7]:
for i in range(1, 6):
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd

In [8]:
numbers = [1,3,5,7,9]
for i, item in enumerate(numbers):
    numbers[i] *=2
numbers

[2, 6, 10, 14, 18]

In [9]:
name = "John"
for l in name:
    print(l)

J
o
h
n

In [10]:
for _ in range(5):
    print('Alarm!')

Alarm!
Alarm!
Alarm!
Alarm!
Alarm!

In [11]:
person = ('John', 'Silver', 22)
for item in person:
    print(item)

John
Silver
22

In [12]:
persons = [('John', 22), ('Bob', 32), ('Dave', 20)]
len(persons)

3

In [13]:
for (name, age) in persons:
    print(f'{name} is {age} years old')

John is 22 years old
Bob is 32 years old
Dave is 20 years old

In [14]:
players = dict(Carlsen=2842, Caruana=2822, Mamedyarov=2801)

In [15]:
for item in players:
    print(item)

Carlsen
Caruana
Mamedyarov

In [16]:
for item in players .items():
    print(item)

('Carlsen', 2842)
('Caruana', 2822)
('Mamedyarov', 2801)

In [17]:
for k, v in players.items():
    print(f'{k} has rating {v}')

Carlsen has rating 2842
Caruana has rating 2822
Mamedyarov has rating 2801

In [18]:
for v in players.values():
    print(v)

2842
2822
2801

In [19]:
#find all pairs sum of which equals 0
list1 = [2,4,-5,6,8,-2]
list2 = [2,-6,8,3,5,-2]

pairs = []
for x in list1:
    for y in list2:
        cur_sum = x + y
        if cur_sum == 0:
            pairs.append((x, y))
pairs

[(2, -2), (-5, 5), (6, -6), (-2, 2)]